@font-face {
  font-family: "Outfit", sans-serif;
  src: url('./assets/fonts/Outfit-VariableFont_wght.ttf') format('ttf');
  font-weight: 400, 700, 900;
  font-display: swap; 
}  


:root {
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    
  /*  ### Neutral */
    
    --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
    --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);

    font-family: "Outfit", sans-serif;


    --fw-regular: 400;
    --fw-bold: 700;
    --fw-extrabold: 900;

    --fs-200: .5rem;
    --fs-300: .75rem;
    --fs-400: 1rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 2rem;
    --fs-800: 2.5rem;
    --fs-900: 3rem; 
}

*, *::before, *::after {
  box-sizing: border-box;
}   

h1, h2, h3, h4, p {
  margin: 0;  
} 





h2, h3, h4 {
  line-height: 1.1;
  font-weight: var(--fw-extrabold);
  color: var(--Soft-blue);   
  text-wrap: balance;
} 

:where(h1, h2, h3, h4) > a {
  color: currentColor;
  text-decoration: none;

  &:hover,
  &:focus-visible {
      color: var(--Very-dark-blue-line);
  }
}

html {
  background-color: var(--Very-dark-blue-main-BG);

}

body {
  display: flex;
  width: 360px;
  Height: 600px;
  background-color: var(--Very-dark-blue-card-BG);
  flex-direction: column;
  border: 2px solid #000;
  position: fixed;
  left: 40%;
  top: 25%;
  border-radius: 30px;
  box-shadow: 5px 10px;
}

header {
  width: 350px;
  height: 300px;
}


.title-card {
  font-size: var(--fs-200);
  margin-left: 20px;
  margin-top: 40px;
  font-weight: var(--fw-bold);
  color: white;
}

img {
  border-radius: 30px;
  width: 320px;
  height: 300px;
  margin-left: 18px;
  margin-top: 15px;
}




p {
  font-size: 16px;
  color: var(--Soft-blue);
  margin-left: 20px;
  margin-right: 13px;
  margin-bottom: 20px;
  margin-top: 20px;
  line-height: 1.6;
  word-spacing: 3px;
}

.section.display-message {
  display:grid;
  grid-template-columns: 50% 50%;
}

.value{
  font-size: 14px;
  margin-left: 18px;
  margin-top: 10px;
  color: var(--Cyan);
  text-align: left;
  grid-column: 1;
  }


.date  {
  color: white;
  text-align: right;
  grid-column: 2;
}


.linked {
  display: flex;
  flex: 1;
  
  margin-top: 5px;
  font-weight: bold;
}
footer .linked {
  font-size: 16;
}

footer  {
  font-size: 16px;
  font-weight: bolder;
}

.attribution {
  display: flex;
 flex: 1 1 0;
 margin-left: 16px;
 text-align: center;
}

.text1 {
  font-size: 10px;
  text-align: center;
}

.profile {
  width: 35px;
  height: 35px;
}

@media (max-width: 650px) {
  body {
    width: 300px;    
  }
  img {
      width: 260px;
  }

  }






.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }